@page "/"
@inherits IndexBase
<PageTitle>Index</PageTitle>

@*<div>
    @if (Machines != null)
    {
        <h3>Machine List</h3>
        <div class="machine-display">
            <table class="main-table">
                <thead>
                    <tr style="display:flex; justify-content:space-around">
                        <th></th>
                        <th >Machine Name</th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Machines.Count; i++)
                    {
                        int currentIndex = i;

                        <tr style="display:flex; justify-content:space-around" class="arrow" @onclick="() => ButtonClickHandler(currentIndex)">
                            <td>
                                <span>@((CheckIfButtonIsClicked[Machines[currentIndex]?.MachineName] == false) ? "➡️" : "⬇️")</span>
                            </td>
                            <td>@Machines[currentIndex].MachineName</td>
                        </tr>
                        @if (CheckIfButtonIsClicked[Machines[currentIndex]?.MachineName])
                        {
                            <tr>
                                <td class="nested-table__data">
                                    <table class="nested-table">
                                        <thead>
                                            <tr>
                                                <th>Asset Name</th>
                                                <th>Series Number</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var asset in Machines[currentIndex].Assets)
                                            {
                                                <tr>
                                                    <td>@asset.AssetName</td>
                                                    <td>@asset.SeriesNumber</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
</div>*@

<div>
    @if (Machines != null)
    {
        <CascadingValue Value="this">
            <DisplayMachine />
        </CascadingValue>
    }
</div>

@*<div>
    @if (Machines != null)
    {
        <h3>Machine List</h3>
        @for (int i = 0; i < Machines.Count; i++) 
        {
            int currentIndex = i;
            <div class="machine-display">
                <div class="machine-field" @onclick="@((e) => ButtonClickHandler(currentIndex))">
                    <span>@((CheckIfButtonIsClicked[Machines[currentIndex]?.MachineName] == false) ? "➡️" : "⬇️") @Machines[currentIndex].MachineName </span>
                </div>
                @if (CheckIfButtonIsClicked[Machines[currentIndex]?.MachineName] == true)
                {
                    <div class="assets">
                        <table>
                            <thead>
                                <tr>
                                    <th>Asset Name</th>
                                    <th>Series Number</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var asset in Machines[currentIndex].Assets)
                                {
                                    <tr>
                                        <td>@asset.AssetName</td>
                                        <td>@asset.SeriesNumber</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <h3>Machine List is Empty</h3>
    }
</div>*@