@page "/"
@inherits IndexBase
<PageTitle>Index</PageTitle>

<div>
    @if (Machines != null)
    {
        @for (var i = 0; i < Machines.Count; i++) 
        {
            int currentIndex = i;
            <div class="machine-field" @onclick="@((e) => ButtonClickHandler(currentIndex))">
                <span> ▶ @Machines[currentIndex].MachineName </span>
            </div>
            <div class="@((Dictionary[Machines[currentIndex]?.MachineName] == 0) ? "hidden" : "")">
                <div>
                    @foreach (var asset in Machines[currentIndex].Assets)
                    {
                        <p>@asset.AssetName @asset.SeriesNumber</p>
                    }
                </div>
            </div>
        }
    }
</div>